@import '../../styles/variables';

.head{
    height: 10vh;
    width: 100vw;
    z-index: 1;
    background-color: $accent-color;

    .mat-icon{
        position: absolute;
        font-size: 400%;
        height: auto;
        width: auto;
        left: 1%;
        top: 2%;
        color: $primary-color;
        &:hover {
            color: lighten($primary-color, 15%);
        }
    }
}
