<div class="activities-component">
    <!-- Titel -->
    <h3>State your Activity</h3>

    <form [formGroup]="activityForm" (ngSubmit)="addActivity()">
        <!-- Activity Start -->
        <mat-form-field class="activity-start">
            <mat-label>Start Time</mat-label>
            <input matInput type="time" placeholder="Choose a time" formControlName="activityStartTime">
        </mat-form-field>

        <!-- Activity End -->
        <mat-form-field class="activity-end">
            <mat-label>End Time</mat-label>
            <input matInput type="time" placeholder="Choose a time" formControlName="activityEndTime">
        </mat-form-field>

        <!-- Cognitive Demand -->
        <mat-form-field class="activity-demand">
            <mat-label>Cognitive Demand</mat-label>
            <mat-select formControlName="activityDemand">
                <mat-option value="2">High</mat-option>
                <mat-option value="2">Medium</mat-option>
                <mat-option value="1">Low</mat-option>
                <mat-option value="0">Relaxing</mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Activity Tag -->
        <mat-form-field class="activity-tag">
            <mat-label>Tag the Activity</mat-label>
            <input type="text" placeholder="Tag me!" aria-label="Tag" matInput formControlName="activityTag" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of tagOptions" [value]="option">{{ option }}</mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <!-- Activity Description -->
        <mat-form-field class="activity-description">
            <mat-label>Describe the Activity</mat-label>
            <input matInput type="text" formControlName="activityDescription">
        </mat-form-field>

        <!-- Work Related Checkbox -->
        <mat-checkbox formControlName="activityWorkRelated">Work Related</mat-checkbox>

        <!-- Add Activity Button -->
        <button type="submit" mat-raised-button color="primary">Add Activity</button>
    </form>
</div>