.activities-component {
    display: flex;
    flex-direction: column;
    align-items: flex-start; // Aligns items to the start of the flex container
    gap: 40px; // Adjust the spacing between elements as needed
  
    .mat-form-field {
      width: 100%; // Ensures form fields take the full width
      margin-bottom: 20px; // Adds some space below each form field
    }
  
    button {
        width: 45%;
        align-self: center; // Centers the button in the flex container
    }
  }
  