<h3>State your Activity</h3>
<form class="activity-form">

    <!-- Cognitive Demand -->
    <mat-form-field class="activity-demand">
        <mat-label>Cognitive Demand</mat-label>
        <mat-select matInput type="number" [(ngModel)]="activityDemand">
            <mat-option value=2>High</mat-option>
            <mat-option value=2>Medium</mat-option>
            <mat-option value=1>Low</mat-option>
            <mat-option value=0>Relaxing</mat-option>
        </mat-select>
    </mat-form-field>

    <!-- Activity Start -->
    <mat-form-field class="activity-start">
        <mat-label>Start Time</mat-label>
        <input matInput type="time" placeholder="Choose a time" [(ngModel)]="activityStartTime">
    </mat-form-field>

    <!-- Activity End -->
    <mat-form-field class="activity-end">
        <mat-label>End Time</mat-label>
        <input matInput type="time" placeholder="Choose a time" [(ngModel)]="activityEndTime">
    </mat-form-field>

    <!-- Activity Tag -->
    <mat-form-field class="example-full-width">
        <mat-label>Number</mat-label>
        <input type="text"
                placeholder="Tag me!"
                aria-label="Tag"
                matInput
                [formControl]="myControl"
                [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
            @for (option of options; track option) {
            <mat-option [value]="option">{{option}}</mat-option>
            }
        </mat-autocomplete>
    </mat-form-field>

    <!-- Activity Description -->
    <mat-form-field class="activity-description">
        <mat-label>Activity Name</mat-label>
        <input matInput type="text" [(ngModel)]="activityDescription">
    </mat-form-field>
</form>